<?xml version="1.0" encoding="utf-8"?><!--
  ~ AndroidModernArchitectureSample © 2021 Ji Sungbin. all rights reserved.
  ~ AndroidModernArchitectureSample license is under the Apache-2.0.
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 21. 10. 8. 오전 11:03
  ~
  ~ Please see: https://github.com/jisungbin/AndroidModernArchitectureSample/blob/master/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.jisungbin.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GithubUsers"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUsers">

        <activity
            android:name=".activity.search.SearchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.profile.ProfileActivity" />

    </application>

</manifest>